//global styles
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

*{
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}

html {
	scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin: 0;
}

button{
    outline-style: none !important;
    &:focus{
        box-shadow: none !important;
        text-decoration: none !important;
    }
    &:hover{
        text-decoration: none !important;
    }
}

a, button{
    cursor: pointer;
    outline-style: none;
    text-decoration: none !important;
}

input, textarea{
    outline-style: none;
}

h1{
    font-size: 42px !important;
}
h2{
    font-size: 30px !important;
}
.h2-big{
    font-size: 34px !important;
}
h3{
    font-size: 26px !important;
    font-weight: 600 !important;
}
.h3-big{
    font-size: 28px !important;
}
h4{
    font-size: 24px !important;
}
p{
    font-size: 18px !important;
}

//custom styles
.flex-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.custom-container{
    width: 100%;
    max-width: 1150px;
    margin: auto;
    padding-left: 5%;
    padding-right: 5%;
}

.btt-gr{
    background: #2B9A19;
    border: 1px solid #2B9A19;
    border-radius: 26px;
    height: 46px;
    padding: 0 28px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    &:hover{
        border: 1px solid #137703;
        background: #137703;
    }
}

.with-play-icon{
    position: relative;
    font-size: 18px;
    display: table;
    cursor: pointer;
    &.icon-none{
        cursor: unset;
        &::after{
            background-image: none;
        }
        &:hover::after{
            background-image: none;
        }
    }
    &.safary-icon{
        &:hover::after{
            background-image: url(./icons/play-blue.svg) !important;
            background-size: 24px !important;
            width: 26px !important;
            height: 20px !important;
            right: -40px !important;
            top: 50% !important;
            transition-duration: 0s !important;
        }
    }
    &:hover::after{
        background-image: url(./icons/play-blue.svg);
        transition-duration: 0.2s;
        transition-duration: 0.2s;
        -webkit-transition-duration: 0.2s;
        -moz-transition-duration: 0.2s;
        -o-transition-duration: 0.2s;
        background-size: 30px;
        width: 32px;
        max-width: 32px;
        max-height: 30px;
        height: 30px;
        right: -45px;
        top: 60%;
    }
    &::after{
        content: "";
        cursor: pointer;
        position: absolute;
        display: block;
        background-image: url(./icons/play.svg);
        background-repeat: no-repeat;
        background-size: 24px;
        width: 26px;
        max-width: 26px;
        max-height: 30px;
        height: 20px;
        right: -40px;
        top: 50%;
        transform: translateY(-50%);
        transition-duration: 0.2s;
        -webkit-transition-duration: 0.2s;
        -moz-transition-duration: 0.2s;
        -o-transition-duration: 0.2s;
        margin-right: 5px;
        padding: 5px;
    }
}

.card-item{
    background-color: white;
    display: flex;
    align-items: center;
    padding: 20px 26px;
    border-radius: 16px;
    margin-bottom: 37px;
    min-height: 96px;
    width: 100%;
    img{
        margin-right: 8%;
    }
    p{
        font-weight: bold;
        font-size: 16px !important;
        margin: 0;
    }
}

.form-group{
    width: 80%;
    border: 2px solid #DCDCDC;
    box-sizing: border-box;
    border-radius: 7px;
    padding: 24px 40px;
    >.form-title{
        font-size: 16px !important;
        text-align: center;
    }
    form{
        display: flex;
        flex-direction: column;
        margin-top: 35px;
        padding: 0 1%;
        >div{
            margin-bottom: 15px;
            >span{
                display: inline-block;
                width: 30%;
            }
            >input{
                width: 65%;
                height: 46px;
                border-radius: 52px;
                border: 1px solid #DCDCDC;
                padding-left: 25px;
            }
        }
        >input[type="submit"]{
            width: 127px;
            margin: 10px auto;
        }
    }
}



//styles
header{
    background: linear-gradient(180deg, rgba(146, 210, 245, 0.15) 0%, rgba(255, 255, 255, 0) 100%);
    height: 180px;
    width: 100%;
    >.custom-container{
        padding-top: 35px;
        .header-logo{
            display: flex;
            align-items: center;
            cursor: pointer;
            img{
                width: 100%;
                margin-right: 16px;
            }
            h3{
                font-weight: bold;
                margin: 0;
            }
        }
        nav{
            width: 72%;
            ul{
                max-width: 515px;
                min-width: 420px;
                margin-bottom: 0;
                width: 70%;
                li{
                    cursor: pointer;
                    a{
                        font-size: 16px;
                        font-weight: 600;
                        color: black;
                        &:hover{
                            color: #2D9CDB;
                        }
                    }
                }
            }
        }
    }
}



.checkpoint{
    margin-top: -30px;
    >.custom-container{
        min-height: 474px;
        align-items: flex-start;
        background-image: url(./images/checkpoint.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: right top;
        .left-side{
            width: 52%;
            max-width: 460px;
            min-width: 380px;
            h1{
                font-weight: bold;
                margin-bottom: 55px;
                margin-top: 90px;
                line-height: 54px;
            }
            h4{
                span{
                    border-bottom: 8px solid #F3F74A;
                    margin-bottom: 10px;
                    display: inline-block;
                }
            }
        }
        .right-side{
            width: 60%;
        }
    }
}


.access-control{
    margin-top: 33px;
    background-color: #EFF9FD;
    >h2{
        background-color: white;
        text-align: center;
        padding-bottom: 38px;
        font-weight: 600;
        padding-top: 40px;
    }
    >.custom-container{
        padding-top: 100px;
        padding-bottom: 150px;
        .left-side{
            width: 45%;
            img{
                width: 83%;
                max-width: 500px;
                display: block;
            }
        }
        .right-side{
            width: 55%;
            padding-top: 58px;
            .text-center{
                width: 83%;
                img{
                    margin-bottom: 27px;
                }
            }
            h3{
                margin-bottom: 25px;
                font-weight: 600;
                width: 100%;
            }
            p{
                line-height: 34px;
                margin-bottom: 22px;
            }
        }
    }
}


.activity-record{
    padding: 130px 0 170px;
    >.custom-container{
        >div{
            &.left-side{
                width: 31%;
                margin-left: 5%;
                padding-top: 62px;
                .text-center{
                    width: 80%;
                    margin-bottom: 28px;
                }
                h3{
                    width: 100%;
                }
                p{
                    margin-top: 18px;
                    line-height: 36px;
                }
            }
            &.right-side{
                width: 52%;
                border-radius: 12px;
                video{
                    width: 100%;
                    margin: auto;
                    border-radius: 12px;
                }

            }
        }
    }
}


.synced-data{
    background-color: #EFF9FD;
    padding: 60px 0 85px;
    >.custom-container{
        padding-right: 3%;
        align-items: flex-start;
        .left-side{
            width: 53%;
            img{
                width: 86%;
            }
        }
        .right-side{
            width: 48%;
            padding-top: 64px;
            .text-center{
                width: 90%;
            }
            h3{
                font-weight: 600;
                margin: 30px 0 25px;
                span{
                    border-bottom: 8px solid #F3F74A;
                    display: inline-block;
                }
            }
            p{
                margin-bottom: 25px;
                line-height: 30px;
            }
        }
    }
}


.gui-app{
    padding: 100px 0;
    >.custom-container{
        .left-side{
            width: 40%;
            min-width: 340px;
            .text-center{
                width: 78%;
            }
            h3{
                margin: 25px;
                font-weight: 600;
            }
            ul{
                margin-left: 7%;
                li{
                    line-height: 40px;
                }
            }
        }
        .right-side{
            width: 55%;
            video{
                width: 100%;
                border-radius: 6px;
            }
        }
    }
}


.how-it-works{
    background-color: #EFF9FD;
    >h2{
        background-color: white;
        text-align: center;
        font-weight: 600;
        padding: 45px 0 25px;
    }
    >.custom-container{
        align-items: flex-start;
        padding: 65px 0 45px;
        .left-side{
            width: 42%;
            img{
                width: 70%;
                float: right;
            }
        }
        .right-side{
            width: 44%;
            margin-top: -7px;
            .title{
                margin-bottom: 35px;
                margin-left: 5px;
                >span{
                    font-weight: bold;
                    margin-bottom: 25px;
                    font-size: 18px;
                }
                p{
                    font-size: 16px !important;
                    margin: 10px 0 12px;
                    span{
                        font-weight: bold;
                    }
                }
            }
            .cards{
                width: 77%;
            }
        }
    }
}

.faq{
    padding-top: 80px;
    .custom-container{
        justify-content: center;
        flex-direction: column;
        h2{
            font-weight: 600;
            margin-bottom: 43px;
        }
        .accordion{
            width: 80%;
            margin: auto;
            .card{
                .card-header{
                    background-color: white;
                    padding-right: 0;
                    position: relative;
                    >h2{
                        display: flex;
                        align-items: center;
                       
                        .btn-link{
                            color: black;
                            font-weight: 600;
                            font-size: 16px;
                            width: 100%;
                            padding-right: 0;
                            &::after{
                                content: "";
                                background-image: url(./icons/arrow-down.svg);
                                background-repeat: no-repeat;
                                background-size: 15px;
                                height: 10px;
                                width: 15px;
                                position: absolute;
                                right: 20px;
                                top: 26px;
                            }
                        }
                    }
                }
            }
        }
        .ask-bar{
            margin-top: 26px;
            span{
                margin-right: 25px;
                font-size: 16px;
            }
        }
    }
}


.pricing{
    padding-top: 72px;
    .custom-container{
        justify-content: center;
        flex-direction: column;
        h2{
            font-weight: 600;
            margin-bottom: 44px;
        }
        >.table-content{
            width: 80%;
            border: 2px solid #DCDCDC;
            border-top-left-radius: 7px;
            border-top-right-radius: 7px;
            table{
                width: 100%;
                margin: auto;
                thead{
                    background-color: #EFFAFF;
                }
                tbody{
                    tr>th{
                        border-left: none !important;
                    }

                }
            }
        }
        .table-footer{
            background-color: #F7F7F7;
            height: 90px;
            width: 80%;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 0.17em solid #DCDCDC;
            border-top: none;
            border-bottom-left-radius: 7px;
            border-bottom-right-radius: 7px;
            border-top: none;
            p{
                font-size: 16px !important;
                font-weight: normal;
                margin-bottom: 0;
                a{
                    color: #2D9CDB;
                }
            }
        }
    }
}


.beta{
    padding: 75px 0 62px;
    .custom-container{
        justify-content: center;
        flex-direction: column;
        >h2{
            font-weight: 600;
            margin-bottom: 28px;
        }
        >p{
            font-size: 16px !important;
            margin-bottom: 40px;
        }
    }
}

footer{
    background-color: #F6F6F6;
    height: 120px;
    display: flex !important;
    align-items: center;
    width: 100%;
    .footer-logo{
        a{
            &:hover h3, &:hover{
                color: #5a5a5a;
                cursor: pointer;
            }
            h3{
                margin: 0 0 0 15px;
                font-weight: bold;
                color: #9F9F9F;
            }
        }
    }
    .footer-nav{
        width: 100%;
        max-width: 580px;
        min-width: 400px;
        ul{
            width: 100%;
            margin: 0;
            li{
                font-size: 16px;
                a{
                    font-weight: 600;
                    color: #7D7D7D;
                    &:hover{
                        color: #5a5a5a;
                    }
                }
            }
        }
    }
    .footer-contact{
        a{
            font-weight: 600;
            color: #7D7D7D;
            &:hover{
                color: #5a5a5a;
            }
        }
    }
}

#mobile-menu{
    display: none;
}

.modal{
    .modal-dialog{
        width: 94% !important;
        border-radius: 7px;
        max-width: 790px;
        .modal-header{
            border: none;
            position: relative;
            justify-content: center;
            .modal-title{
                text-align: center;
                font-weight: 600;
                margin-top: 10px;
            }
            .close{
                position: absolute;
                right: 34px;
                top: 22px;
                padding: 0;
                span{
                    font-size: 48px;
                    font-weight: 400;
                }
            }
        }
        .modal-body{
            padding-top: 0;
            .form-group{
                border: none;
                width: 100%;
                padding-top: 0;
                padding-bottom: 0;
                div:nth-child(3){
                    align-items: flex-start;
                    margin-bottom: 15px;
                    textarea{
                        height: 138px;
                        border: 1px solid #DCDCDC;
                        border-radius: 22px;
                        width: 65%;
                        resize: none;
                        padding-left: 25px;
                        padding-top: 10px;
                    }
                }
            }
            .gif-content{
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 20px 0 30px 0;
                video{
                    width: auto;
                    border-radius: 6px;
                    max-height: 70vh;
                    max-width: 80%;
                }
            }
        }
    }
}

#message{
    .modal-content{
        height: 50vh;
        .modal-body{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            img{
                margin-bottom: 25px;
                margin-right: 20px;
            }
            p{
                font-size: 16px !important;
                width: 80%;
                text-align: center;
                max-width: 220px;
            }
        }
    }
}

//media

.sm-media{
    display: none !important;
}

.ex-sm-media{
    display: none !important;
}

// Small devices (landscape phones, less than 1000px)
@media only screen and (max-width: 1000px) {
    .custom-container{
        padding-left: 4%;
        padding-right: 4%;
    }
    .btt-gr{
        padding: 0 20px;
        font-size: 14px;
    }
    .lg-media{
        display: none !important;
    }
    .sm-media{
        display: block !important;
    }
    header > .custom-container nav{
        min-width: 150px;
        width: 30%;
    }
    header{
        .custom-container{
            .header-logo img{
                margin-right: 10px;
            }
            nav{
                ul{
                    min-width: 398px;
                    li{
                        a{
                            font-size: 15px;
                        }
                    }
                }
                .btt-gr{
                    padding: 0 16px;
                }
                img{
                    cursor: pointer;
                }
            }
        }
    }
    .how-it-works{
        .custom-container{
            align-items: center;
        }
    }

    .custom-container .accordion, .pricing .custom-container > .table-content, .pricing .custom-container .table-footer, .form-group{
        width: 97% !important;
    }

    .gui-app > .custom-container .right-side{
        width: 45%;
    }
    .checkpoint {
        > .custom-container{
            background-image: none;
            flex-direction: column-reverse;
            min-height: unset;
            >div{
                width: 100% !important;
            }
            .left-side{
                max-width: unset;
                min-width: unset;
                h1{
                    margin-top: 100px;
                }
            }
            .right-side{
                img{
                    width: 100%;
                }
            }
        }
    }

    .access-control > {
        h2{
            padding-top: 55px;
        }
        .custom-container{
            padding-top: 0;
            padding-bottom: 40px;
            .right-side{
                width: 100%;
                padding-top: 43px;
                .text-center{
                    width: 100%;
                }
                h3, p{
                    text-align: center;
                    margin: auto;
                }
                h3{
                    margin-bottom: 44px;
                }
                p{
                    width: 80%;
                    line-height: 28px;
                    margin-bottom: 28px;
                }
                >img{
                    width: 54%;
                    margin: auto;
                    margin-bottom: 48px;
                }
            }
        }
    }

    .activity-record{
        padding-top: 0;
        padding-bottom: 70px;
        .custom-container{
            .left-side{
                width: 100% !important;
                text-align: center;
                padding-top: 38px !important;
                margin-left: 0 !important;
                .text-center{
                    width: 100% !important;
                }
                >video{
                    margin: 48px auto 60px;
                    width: 100%;
                    border-radius: 6px;
                }
                >p{
                    width: 80%;
                    margin: auto;
                    line-height: 30px !important;
                }
            }
        }
    }

    .synced-data{
        padding-top: 0;
        padding-bottom: 60px;
        .custom-container{
            .right-side{
                width: 100% !important;
                padding-top: 46px;
                text-align: center;
                .text-center{
                    width: 100% !important;
                }
                >h3{
                    margin: 30px 0 60px;
                }
                >img{
                    width: 66%;
                    display: block;
                    margin: auto;
                }
                >p{
                    line-height: 26px !important;
                    width: 80%;
                    margin: 54px auto 22px;
                }
                >span{
                    margin: auto;
                }
            }
        }
    }

    .gui-app{
        padding-top: 63px;
        padding-bottom: 38px;
        .custom-container{
            .left-side{
                width: 100% !important;
                min-width: unset;
                .text-center{
                    width: 100% !important;
                    margin-bottom: 50px;
                }
                >video{
                    width: 100%;
                    border-radius: 6px;
                }
                >ul{
                    margin: 59px auto 0;
                    width: 86%;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    >div{
                        width: 44%;
                        li{
                            display: flex;
                            line-height: 26px;
                            margin-bottom: 16px;
                            &::after{
                                position: unset;
                                transform: translate(0);
                                margin-top: 4px;
                                margin-left: 10px;
                                padding-right: 20px;
                                background-size: 20px;
                            }
                            &:hover::after{
                                background-size: 30px;
                                width: 32px;
                                height: 30px;
                                margin-top: 0px;
                                margin-left: 8px;
                            }
                        }
                    }
                }
            }
        }
    }

    .how-it-works{
        >h2{
            background-color: #EFF9FD;
        }
        > .custom-container{
            padding: 28px 4% 58px;
            align-items: flex-start;
            .left-side{
                width: 45%;
                img{
                    width: 94%;
                }
            }
            .right-side{
                width: 46%;
                margin-top: -12px;
                .title{
                    margin-bottom: 42px;
                }
                .cards{
                    width: 100%;
                    .card-item{
                        padding-right: 15px;
                        min-height: unset;
                        margin-bottom: 20px;
                        img{
                            margin-right: 7%;
                        }
                    }
                }
            }
        }
    }

    .faq{
        padding-top: 40px;
        padding-bottom: 37px;
        .custom-container .ask-bar{
            margin-top: 16px;
        }
    }

    .pricing{
        padding-bottom: 38px;
    }

    .beta{
        padding-bottom: 45px;
        .form-group{
            width: 100% !important;
            > .form-title{
                text-align: left;
            }
            form{
                margin-top: 25px;
                div > span{
                    min-width: 200px;
                }
            }
        }
    }

    footer{
        height: 173px;
        .custom-container{
            flex-wrap: wrap;
            .footer-logo{
                width: 100%;
                padding-bottom: 30px;
            }
            .footer-nav{
                width: 83%;
                max-width: unset;
                min-width: unset;
            }
        }
    }

    #mobile-menu{
        display: none;
        width: 100%;
        height: 100vh;
        background-color: #0000009d;
        position: fixed;
        top: 0;
        .mobile-menu-content{
            right: 0;
            top: 0;
            position: fixed;
            min-width: 374px;
            width: 40%;
            background-color: white;
            height: 100vh;
            .menu-header{
                padding: 30px;
                padding-bottom: 50px;
                h4{
                    margin: 0;
                    font-weight: bold;
                    font-size: 22px !important;
                }
                img{
                    width: 20px;
                    cursor: pointer;
                }
            }
            ul{
                li{
                    padding: 0 30px;
                    line-height: 40px;
                    cursor: pointer;
                    a{
                        color: black;
                        font-weight: 600;
                        font-size: 16px;
                    }
                    &:hover{
                        border-left: 2px solid #2D9CDB;
                        padding-left: 28px;
                    }
                    &:hover a{
                        color: #2D9CDB;
                    }
                }
            }
        }
    }
}


// Extra small devices (portrait phones, less than 576px)
@media only screen and (max-width: 576px) {
    .ex-sm-media{
        display: block !important;
    }
    .sm-lg-media{
        display: none !important;
    }
    .custom-container{
        padding-left: 3%;
        padding-right: 3%;
    }
    .btt-gr{
        height: 24px;
        padding: 0 13px;
        font-size: 10px;
    }
    h1{
        font-size: 22px !important;
    }
    h2{
        font-size: 18px !important;
    }
    .h2-big{
        font-size: 18px !important;
    }
    h3{
        font-size: 14px !important;
        font-weight: 600 !important;
    }
    .h3-big{
        font-size: 14px !important;
    }
    h4{
        font-size: 16px !important;
    }
    p{
        font-size: 12px !important;
    }
    .with-play-icon{
        font-size: 12px !important;
        &.safary-icon{
            &:hover::after{
                width: 22px !important;
                height: 18px !important;
                background-size: 20px !important;
                top: 62% !important;
            }
        }
        &::after{
            width: 22px;
            height: 18px;
            background-size: 20px;
            top: 62%;
        }
        &:hover::after{
            background-size: 26px;
            width: 28px;
            height: 26px;
            top: 68%;
        }
    }
    header {
        height: 100px;
        background: linear-gradient(180deg, rgba(146, 210, 245, 0.137) 0%, rgba(255, 255, 255, 0) 100%);
        .custom-container{
            padding: 18px 6% 0;
            nav{
                min-width: 120px;
                >img{
                    width: 20%;
                    min-width: 16px;
                }
            }
            .header-logo{
                width: 20%;
                img:first-child{
                    width: 30%;
                    min-width: 30px;
                }
                img:last-child{
                    min-width: 90px;
                }
            }
        }
    }
    .checkpoint > .custom-container .left-side{
        h1{
            margin: auto;
            margin-top: 33px;
            margin-bottom: 23px;
            line-height: 32px;
            width: 84%;
        }
        h4{
            width: 84%;
            margin: auto;
            span{
                border-width: 3px;
            }
        }
    }
    .access-control{
        margin-top: 0;
        >h2{
            padding-top: 42px;
            padding-bottom: 18px;
        }
        .custom-container .right-side{
            padding-top: 20px;
            .text-center{
                img{
                    width: 11%;
                }
            }
            h3{
                margin-bottom: 27px;
            }
            >img{
                width: 93%;
                margin-bottom: 28px;
            }
            >p{
                width: 100%;
                line-height: 20px;
                margin-bottom: 6px;
            }
        }
    }
    .activity-record{
        padding-bottom: 20px;
        .custom-container .left-side{
            padding-top: 26px !important;
            .text-center{
                margin-bottom: 14px !important;
                img{
                    width: 12%;
                }
            }
            >video{
                margin: 32px auto 64px;
                width: 93%;
            }
            >p{
                width: 92%;
                line-height: 20px !important;
            }
        }
    }
    .synced-data{
        padding-bottom: 50px;
        .custom-container .right-side{
            padding-top: 31px;
            .text-center{
                img{
                    width: 12%;
                }
            }
            >h3{
                margin: 20px 0 18px;
            }
            >img{
                width: 93%;
            }
            >p{
                line-height: 18px !important;
                width: 94%;
                margin: 35px auto 13px;
            }
            >span{
                padding-right: 30px;
                &::after{
                    margin-right: 40px;
                }
            }
    }
    }
    .gui-app{
        padding-top: 23px;
        .custom-container .left-side{
            .text-center{
                margin-bottom: 20px;
                img{
                    width: 15%;
                }
            }
            h3{
                margin: 22px 0 0 !important;
            }
            >video{
                width: 92%;
                margin: auto;
            }
            ul{
                flex-direction: column;
                margin-left: 3%;
                >div{
                    width: 100%;
                    li{
                        line-height: 22px;
                        margin-bottom: 11px;
                        &::after{
                            margin-top: 2px;
                        }
                        &:hover::after{
                            margin-top: 0px;
                            background-size: 26px;
                        }
                    }
                }
            }
        }
    }
    .how-it-works{
        > h2{
            padding: 35px 0 0px;
            margin-bottom: 10px;
        }
        
        .custom-container {
            .right-side{
                width: 100% !important;
                .title{
                    margin-bottom: 28px;
                    >span, p{
                        font-size: 12px !important;
                        text-align: center;
                        margin: auto;
                        display: block;
                    }
                }
                >img{
                    width: 97% !important;
                }
                .cards{
                    width: 96%;
                    margin: 16px auto 0;
                    .card-item{
                        border-radius: 5px;
                        flex-direction: column;
                        padding: 20px !important;
                        margin-bottom: 8px;
                        >img{
                            width: 18%;
                            margin: 0;
                        }
                        >p{
                            font-size: 14px !important;
                            text-align: center;
                            margin: 20px auto 0;
                        }
                    }
                }
            }
        }
    }
    .faq{
        padding-bottom: 0;
        .custom-container{
            padding: 0 !important;
            .ask-bar{
                margin-top: 16px;
            }
            >h2{
                margin-bottom: 20px;
            }
            .accordion{
                width: 100% !important;
                .card{
                    .card-header{
                        padding: 0 20px 0 5px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        height: 56px;
                        > h2 {
                            justify-content: space-between;
                            width: 100%;
                            .btn-link{
                                font-size: 12px !important;
                                padding-right: 55px;
                            }
                        }
                    }
                    .card-body{
                        font-size: 14px !important;
                    }
                }
            }
            .ask-bar{
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 34px;
                padding-bottom: 0;
                width: 90% !important;
                span{
                    font-size: 12px !important;
                    margin: 0;
                }
                .btt-gr{
                    font-size: 14px !important;
                    width: 100% !important;
                    height: 50px !important;
                    border-radius: 5px;
                    margin-top: 10px;
                }
            }
        }
    }
    .pricing{
        padding-bottom: 0;
        .custom-container{
            padding: 0;
            >h2{
                margin-bottom: 30px;
            }
            .table-content{
                border: none;
                width: 100% !important;
                .custom-table{
                    .table-row{
                        padding-bottom: 10px;
                        margin-bottom: 21px;
                        border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
                        .table-content{
                            flex-wrap: wrap;
                            padding: 0 6%;
                            h3{
                                width: 100%;
                                margin-bottom: 10px;
                                font-weight: bold;
                            }
                            .table-item{
                                min-width: 42px;
                                display: flex;
                                flex-direction: column;
                                &.item-center{
                                    p:first-child{
                                        text-align: center;
                                    }
                                }
                                &.item-right{
                                    p:first-child{
                                        text-align: right;
                                    }
                                }
                                p{
                                    margin-bottom: 10px;
                                    &.txt-center{
                                        text-align: center;
                                    }
                                }
                                p:first-child{
                                    opacity: 0.5;
                                }
                                p:last-child{
                                    font-weight: 600;
                                    text-align: center;
                                }
                            }
                        }
                        &:nth-child(2){
                            .table-content{
                                .table-item{
                                    width: 50px;
                                }
                                .table-item:nth-child(2){
                                    p:last-child{
                                        text-align: left !important;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .table-footer{
                width: 100% !important;
                background-color: white;
                border: none;
                text-align: left;
                width: 95% !important;
                padding: 0 3%;
                margin-top: -15px;
                p{
                    font-size: 12px !important;
                }
            }
        }
    }

    .beta{
        padding: 38px 0 26px;
        .custom-container{
            >h2{
                margin-bottom: 10px;
            }
            >p{
                font-size: 12px !important;
                text-align: center;
                margin-bottom: 22px;
                a{
                    font-weight: bold;
                }
            }
            .form-group{
                width: 93% !important;
                padding: 15px !important;
                .form-title{
                    font-size: 12px !important;
                    padding: 0 5px;
                }
                form{
                    margin-top: 20px;
                    input[type="text"]{
                        border: none;
                        border-bottom: 1px solid #DCDCDC;
                        font-size: 10px !important;
                        margin-bottom: 23px;
                        padding-bottom: 5px;
                    }
                    .btt-gr{
                        height: 50px;
                        width: 100%;
                        border-radius: 5px;
                        font-size: 14px !important;
                    }
                }
            }
        }
    }

    footer{
        .custom-container{
            padding-left: 5%;
            padding-right: 5%;
            margin-top: 30px;
        }
        .footer-logo{
            padding-bottom: 18px;
            img{
                width: 30%;
                min-width: 120px;
            }
        }
        .footer-nav{
            width: 100% !important;
            ul {
                flex-wrap: wrap;
                // justify-content: flex-start;
                li{
                    padding: 3px 10px;
                    font-size: 12px !important;
                } 
            }
        }
    }

    #mobile-menu{
        width: 100%;
        min-width: unset;
        .mobile-menu-content{
            width: 100%;
            .menu-header{
                padding: 20px;
                padding-bottom: 30px;
                h4{
                    font-size: 18px !important;
                }
                img{
                    width: 14px;
                }
            }
            ul{
                li{
                    a{
                        font-size: 14px;
                    }
                    padding: 0 20px;
                    line-height: 36px;
                    &:hover{
                        padding-left: 18px;
                    }
                }
            }
        }
    }

    .modal{
        padding-right: 0 !important;
        padding-left: 0 !important;
        .modal-dialog{
            margin: auto;
            .modal-content{
                min-height: 65vh;
            }
            .modal-header{
                border: none;
                padding-top: 28px;
                padding-right: 28px;
                padding-bottom: 15px;
                .close{
                    padding: 0;
                    span{
                        font-size: 28px;
                        font-weight: 400;
                    }
                }
            }
            .modal-body{
                padding-top: 0;
                .form-group{
                    border: none;
                    width: 100%;
                    padding-top: 0;
                    padding-bottom: 0;
                    padding: 0;
                    height: 100%;
                    form{
                        margin-top: 0;
                        position: relative;
                        height: 100%;
                        input[type="text"]{
                            border: none;
                            border-bottom: 1px solid #DCDCDC;
                            margin-bottom: 20px;
                            font-size: 10px;
                        }
                        .btt-gr{
                            border-radius: 5px;
                            height: 50px !important;
                            width: 100% !important;
                            font-weight: bold;
                            font-size: 14px !important;
                            position: absolute;
                            bottom: 0px;
                        }
                        div:nth-child(3){
                            align-items: flex-start;
                            margin-bottom: 15px;
                            textarea{
                                height: 138px;
                                border: 1px solid #DCDCDC;
                                border-radius: 22px;
                                width: 65%;
                                resize: none;
                                padding-left: 25px;
                                padding-top: 10px;
                            }
                        }
                    }
                }
                .gif-content{
                    padding: 15px 0 20px 0;
                    video{
                        width: auto;
                        border-radius: 6px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 410px) {
    .modal .modal-dialog .modal-content{
        min-height: 50vh;
        .modal-body .gif-content{
            padding-bottom: 0;
            video{
                width: auto;
            }
    }
    }
}